<div class="container-fluid">
 
    <nav class="navbar navbar-default col-md-12" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Maria Guadalupe Cauich Cocon</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
             <li  class="active small "><a href="#">Nivel de Estudios</a></li>
              <li  class="small "><a href="#">Experiencia Laboral</a></li>
              <li  class="small "><a href="#"></a>Idiomas que Domina</li>
              <li  class="small "><a href="#">Equipos que Domina</a></li>
              <li  class="small "><a href="#">Contactanos</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
     <div class="row">
       <h3 class="col-xs-12 text-center">Curriculum<hr></h3>
      
       <blockquote class="block-border col-md-10 col-md-offset-1">
    
      <footer>Portafolio Personal</footer>
    </blockquote>
       <div class="col-md-12"></div>
       <div class="col-md-4  text-center">
        <div>
            <i class="circle fa fa-briefcase fa-2x "></i>
        </div>
           <p>
        <strong>Bussiness Skills</strong><br>
      Analisis, propuestas, documentación<br>
        planificación, formación, coaching<br>
        
      </p>                
    </div>
    <div class="col-md-4 text-center">
        <div>
            <i class=" fa fa-floppy-o fa-2x circle"></i>
        </div>
             <p>
        <strong>Software & Frameworks</strong><br>
      Spring, Backbone, Underscore<br>
        Angular, Eclipse, Tomcat<br>
    Bootstrap, jQuery
      </p> 
    
      
    </div>
    <div class="col-md-4 text-center">
        <div>
            <i class="fa fa-comment fa-2x  circle"></i>
        </div>
    
      <p>
        <strong>idiomas</strong><br>
      Ingles:
        95% -> Leido<br>
        85% -> Conversación<br>
      Español: Nativo
      </p>
    
    </div>
       </div>
    </div>
