<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Curriculum Vitae</title>
        <link rel="stylesheet" href="/css/Estilos.css">
        <link rel="stylesheet" href="/css/Css.css">
    </head>
    
    
    <body>
        <h1> <%=titulo %></h1>
        <h2>Datos personales</h2>
    <ul>
    <li>Nombre completo:<strong>Maria Guadalupe Cauich Cocon</strong></li>
    <li>Fecha de nacimiento: <strong>07/07/1999</strong></li>
    <li>Lugar de nacimiento:  <strong>San Francisco, Lázaro Cárdenas</strong></li>
    </ul>
    
    <h2>Niveles de Estudio</h2>
    <ul>
    <li><strong>Primaria"Guadalupe Victoria"</strong></li>
    <li><strong>Secundaria"Octaviano Solis Aguirre" </strong></li>
    <li><strong>Bachilleres"San Francisco, Lázaro Cárdenas"</strong></li>
    <li><strong>Universidad Intercultural Maya de QRoo</strong></li>
    </ul>
    
    <h2>Experiencia laboral</h2>
    <ul>
    <li>2017.2018: <strong>Hotel las Nubes</strong></li>
    </ul>
    
    <h2>Idiomas que Domina</h2>
    <ul>
    <li><strong>Maya</strong></li>
    <li><strong>Español </strong></li>
    <li><strong>Ingles</strong></li>
    </ul>
    
    <h2>Equipos que Domina</h2>
    <ul>
    <li><strong>Computadoras</strong></li>
    <li><strong>Sistemas Operativos </strong></li>
    </ul>
    </body>
</html>
